Repository nginx/nginx-gateway-fabric, pull requests merged in 2023-12, with the labels that each got.

#1299 Add more detail to helm install commands
  deploy/helm-chart/README.md
  site/content/installation/installing-ngf/helm.md
Labels: documentation, helm-chart

#1288 [Doc] Mention minimum Go version required for development
  docs/developer/quickstart.md
Labels: documentation

#1301 Set SupportedVersion on GatewayClass
  conformance/provisioner/provisioner.yaml
  deploy/helm-chart/templates/rbac.yaml
  deploy/manifests/nginx-gateway.yaml
  docs/developer/release-process.md
  internal/framework/conditions/conditions.go
  internal/framework/conditions/conditions_test.go
  internal/framework/controller/index/endpointslice_test.go
  internal/framework/controller/predicate/annotation.go
  internal/framework/controller/predicate/annotation_test.go
  internal/framework/controller/reconciler.go
  internal/framework/controller/register.go
  internal/framework/controller/register_test.go
  internal/framework/gatewayclass/validate.go
  internal/framework/gatewayclass/validate_test.go
  internal/mode/provisioner/handler.go
  internal/mode/provisioner/handler_test.go
  internal/mode/provisioner/manager.go
  internal/mode/provisioner/store.go
  internal/mode/static/build_statuses.go
  internal/mode/static/manager.go
  internal/mode/static/manager_test.go
  internal/mode/static/nginx/config/execute_test.go
  internal/mode/static/nginx/config/servers_test.go
  internal/mode/static/nginx/file/manager_test.go
  internal/mode/static/state/change_processor.go
  internal/mode/static/state/change_processor_test.go
  internal/mode/static/state/changed_predicate.go
  internal/mode/static/state/changed_predicate_test.go
  internal/mode/static/state/conditions/conditions.go
  internal/mode/static/state/graph/gatewayclass.go
  internal/mode/static/state/graph/gatewayclass_test.go
  internal/mode/static/state/graph/graph.go
  internal/mode/static/state/resolver/resolver_test.go
  internal/mode/static/state/store.go
  site/content/overview/gateway-api-compatibility.md
Labels: documentation, enhancement, helm-chart

#1339 Doc 288 Deploying NGINX Gateway Fabric on a kind Cluster
  site/content/installation/running-on-kind.md
Labels: documentation

#1341 Add results of graceful recovery test
  tests/graceful-recovery/graceful-recovery.md
  tests/graceful-recovery/results/1.1.0/1.1.0.md
Labels: documentation, tests

#1346 Scale test results for 1.1
  tests/scale/results/1.1.0/1.1.0.md
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/CPU-no-delay.png
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/CPU.png
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/Memory-no-delay.png
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/Memory.png
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/TTR.png
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/results-no-delay.csv
  tests/scale/results/1.1.0/TestScale_HTTPRoutes/results.csv
  tests/scale/results/1.1.0/TestScale_HTTPSListeners/CPU.png
  tests/scale/results/1.1.0/TestScale_HTTPSListeners/Memory.png
  tests/scale/results/1.1.0/TestScale_HTTPSListeners/TTR.png
  tests/scale/results/1.1.0/TestScale_HTTPSListeners/results.csv
  tests/scale/results/1.1.0/TestScale_Listeners/CPU.png
  tests/scale/results/1.1.0/TestScale_Listeners/Memory.png
  tests/scale/results/1.1.0/TestScale_Listeners/TTR.png
  tests/scale/results/1.1.0/TestScale_Listeners/results.csv
  tests/scale/results/1.1.0/TestScale_UpstreamServers/CPU.png
  tests/scale/results/1.1.0/TestScale_UpstreamServers/Memory.png
  tests/scale/scale.md
  tests/scale/scale_test.go
Labels: documentation, tests

#1337 Restructure, reformat and rewrite API Compatibility Documentation
  site/content/overview/gateway-api-compatibility.md
Labels: documentation

#1348 Use latest stable version of Go
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conformance.yml
  .github/workflows/lint.yml
Labels: chore

#1349 v1.1.0 Dataplane performance
  tests/dataplane-performance/results/1.1.0/1.1.0.md
Labels: documentation, tests

#1353 Add zero-downtime-upgrades results for 1.1.0
  tests/zero-downtime-upgrades/results/1.1.0/1.1.0.md
  tests/zero-downtime-upgrades/results/1.1.0/http.csv
  tests/zero-downtime-upgrades/results/1.1.0/http.png
  tests/zero-downtime-upgrades/results/1.1.0/https.csv
  tests/zero-downtime-upgrades/results/1.1.0/https.png
  tests/zero-downtime-upgrades/values.yaml
  tests/zero-downtime-upgrades/zero-downtime-upgrades.md
Labels: documentation, tests

#1350 Add netlify note to release process doc
  docs/developer/release-process.md
Labels: documentation, chore

#1359 v1.1.0 Longevity test
  tests/longevity/longevity.md
  tests/longevity/results/1.1.0/1.1.0.md
  tests/longevity/results/1.1.0/cpu.png
  tests/longevity/results/1.1.0/memory.png
Labels: documentation, tests

#1336 docs: rewrite resource-validation
  internal/mode/static/state/store.go
  site/content/overview/resource-validation.md
  site/go.mod
  site/go.sum
  site/mdlint_conf.json
Labels: documentation

#1373 Fix broken links and example output
  examples/https-termination/README.md
  site/content/how-to/traffic-management/advanced-routing.md
  site/content/how-to/traffic-management/routing-traffic-to-your-app.md
Labels: documentation

#1378 Prepare 1.1 Release
  CHANGELOG.md
  Makefile
  README.md
  conformance/Makefile
  conformance/provisioner/provisioner.yaml
  conformance/provisioner/static-deployment.yaml
  deploy/helm-chart/Chart.yaml
  deploy/helm-chart/README.md
  deploy/helm-chart/values.yaml
  deploy/manifests/nginx-gateway.yaml
  deploy/manifests/service/loadbalancer-aws-nlb.yaml
  deploy/manifests/service/loadbalancer.yaml
  deploy/manifests/service/nodeport.yaml
  docs/developer/release-process.md
  examples/http-header-filter/README.md
  site/content/how-to/traffic-management/advanced-routing.md
  site/content/includes/installation/install-gateway-api-resources.md
  site/content/includes/installation/uninstall-gateway-api-resources.md
  site/content/installation/building-the-images.md
  site/content/installation/installing-ngf/manifests.md
Labels: documentation, helm-chart

#1390 Update documentation on main after 1.1 release
  CHANGELOG.md
  README.md
  deploy/helm-chart/README.md
  docs/developer/release-process.md
  examples/http-header-filter/README.md
  site/content/includes/installation/install-gateway-api-resources.md
  site/content/includes/installation/uninstall-gateway-api-resources.md
Labels: documentation, helm-chart

#1320 Namespace resources are tracked by graph
  internal/mode/static/state/change_processor.go
  internal/mode/static/state/change_processor_test.go
  internal/mode/static/state/graph/graph.go
  internal/mode/static/state/graph/graph_test.go
  internal/mode/static/state/graph/namespace.go
  internal/mode/static/state/graph/namespace_test.go
  internal/mode/static/state/relationship/capturer.go
  internal/mode/static/state/relationship/capturer_test.go
Labels: tech-debt

#1405 Set permissions to close milestones for GoReleaser
  .github/workflows/ci.yml
Labels: chore

#1402 Fix Gateway API Compatibility doc
  site/content/overview/gateway-api-compatibility.md
Labels: documentation

#1401 Results from re-run of longevity test
  tests/longevity/results/1.1.0/1.1.0.md
  tests/longevity/results/1.1.0/cpu.png
  tests/longevity/results/1.1.0/memory.png
  tests/longevity/results/1.1.0/reload-time.png
  tests/longevity/results/1.1.0/reloads.png
  tests/longevity/results/1.1.0/stub-status.png
Labels: documentation, tests

#1394 Add NGINX plus Dockerfile, add make command, add metrics
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  build/Dockerfile.nginx
  build/Dockerfile.nginxplus
  cmd/gateway/commands.go
  deploy/helm-chart/README.md
  deploy/helm-chart/templates/deployment.yaml
  deploy/helm-chart/values.yaml
  docs/developer/quickstart.md
  go.mod
  internal/mode/static/config/config.go
  internal/mode/static/manager.go
  internal/mode/static/metrics/collectors/nginx.go
  internal/mode/static/nginx/conf/nginx-plus.conf
  site/content/how-to/monitoring/monitoring.md
  site/content/installation/building-the-images.md
  site/content/reference/cli-help.md
Labels: documentation, enhancement, dependencies, helm-chart

#1399 Extend resource validation doc to include NGINX Gateway Fabric resources
  site/content/overview/resource-validation.md
Labels: documentation

#1356 Add dataplane performance automated test
  .gitignore
  go.mod
  go.sum
  tests/Makefile
  tests/README.md
  tests/dataplane-performance/scripts/post.lua
  tests/dataplane-performance/scripts/wrk-latency.sh
  tests/dataplane-performance/setup.md
  tests/framework/common.go
  tests/framework/load.go
  tests/framework/ngf.go
  tests/framework/request.go
  tests/framework/resourcemanager.go
  tests/results/dp-perf/1.0.0/1.0.0.md
  tests/results/dp-perf/1.1.0/1.1.0.md
  tests/scripts/cleanup-vm.sh
  tests/scripts/create-and-setup-gcp-vm.sh
  tests/scripts/remote-scripts/install-deps.sh
  tests/scripts/remote-scripts/run-tests.sh
  tests/scripts/run-tests-gcp-vm.sh
  tests/scripts/vars.env-example
  tests/suite/dataplane_perf_test.go
  tests/suite/manifests/dp-perf/cafe-routes.yaml
  tests/suite/manifests/dp-perf/coffee.yaml
  tests/suite/manifests/dp-perf/gateway.yaml
  tests/suite/sample_test.go
  tests/suite/system_suite_test.go
Labels: documentation, dependencies, tests

#1396 Support for URL Rewrite filter
  conformance/Makefile
  internal/mode/static/nginx/config/http/config.go
  internal/mode/static/nginx/config/servers.go
  internal/mode/static/nginx/config/servers_template.go
  internal/mode/static/nginx/config/servers_test.go
  internal/mode/static/nginx/config/validation/common.go
  internal/mode/static/nginx/config/validation/http_filters.go
  internal/mode/static/nginx/config/validation/http_filters_test.go
  internal/mode/static/nginx/config/validation/http_njs_match.go
  internal/mode/static/nginx/config/validation/http_validator.go
  internal/mode/static/nginx/modules/src/httpmatches.js
  internal/mode/static/nginx/modules/test/httpmatches.test.js
  internal/mode/static/state/dataplane/configuration.go
  internal/mode/static/state/dataplane/configuration_test.go
  internal/mode/static/state/dataplane/convert.go
  internal/mode/static/state/dataplane/convert_test.go
  internal/mode/static/state/dataplane/types.go
  internal/mode/static/state/graph/httproute.go
  internal/mode/static/state/graph/httproute_test.go
  internal/mode/static/state/validation/validationfakes/fake_httpfields_validator.go
  internal/mode/static/state/validation/validator.go
  site/content/how-to/traffic-management/https-termination.md
  site/content/how-to/traffic-management/redirects-and-rewrites.md
  site/content/how-to/traffic-management/routing-traffic-to-your-app.md
  site/content/overview/gateway-api-compatibility.md
Labels: documentation, enhancement
