Repository nginx/nginx-gateway-fabric, pull requests merged in 2024-12, with the labels that each got.

#2824 Enable and update endpoint for telemetry for longevity tests
  .github/workflows/ci.yml
  tests/framework/ngf.go
  tests/suite/system_suite_test.go
Labels: tests

#2835 Add more unit tests for GRPCRoute
  internal/mode/static/state/change_processor_test.go
  internal/mode/static/state/graph/grpcroute.go
  internal/mode/static/state/graph/grpcroute_test.go
Labels: tests

#2870 Update NGF version in getting started document
  site/content/get-started.md
Labels: documentation

#2868 Update Gateway API version to 1.2.1
  README.md
  cmd/gateway/validation.go
  config/crd/gateway-api/experimental/kustomization.yaml
  config/crd/gateway-api/standard/kustomization.yaml
  go.mod
  go.sum
  internal/framework/gatewayclass/validate.go
  tests/go.mod
  tests/go.sum
Labels: documentation, dependencies

#2867 feat: Update docs configuration for new logo
  charts/nginx-gateway-fabric/chart-icon.png
  site/config/_default/config.toml
Labels: documentation, helm-chart

#2876 Update release process doc
  docs/developer/release-process.md
Labels: documentation

#2880 (cherrypick) feat: Update docs configuration for new logo (#2867)
  charts/nginx-gateway-fabric/chart-icon.png
  site/config/_default/config.toml
Labels: documentation, helm-chart

#2885 Use staging endpoint for n+ reporting in pipeline
  .github/workflows/conformance.yml
  .github/workflows/functional.yml
  .github/workflows/helm.yml
  .github/workflows/nfr.yml
  Makefile
  docs/developer/quickstart.md
  tests/Makefile
  tests/framework/ngf.go
  tests/suite/graceful_recovery_test.go
  tests/suite/system_suite_test.go
Labels: bug, documentation, tests

#2871 Write deployment context in init container
  charts/nginx-gateway-fabric/templates/configmap.yaml
  charts/nginx-gateway-fabric/templates/deployment.yaml
  cmd/gateway/commands.go
  cmd/gateway/commands_test.go
  cmd/gateway/initialize.go
  cmd/gateway/initialize_test.go
  cmd/gateway/main.go
  cmd/gateway/validation.go
  cmd/gateway/validation_test.go
  config/tests/static-deployment.yaml
  deploy/aws-nlb/deploy.yaml
  deploy/azure/deploy.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
  internal/mode/static/config/config.go
  internal/mode/static/handler.go
  internal/mode/static/handler_test.go
  internal/mode/static/licensing/collector.go
  internal/mode/static/licensing/collector_suite_test.go
  internal/mode/static/licensing/collector_test.go
  internal/mode/static/licensing/licensingfakes/fake_collector.go
  internal/mode/static/manager.go
  internal/mode/static/nginx/config/configfakes/fake_generator.go
  internal/mode/static/nginx/config/generator.go
  internal/mode/static/nginx/config/main_config.go
  internal/mode/static/nginx/config/main_config_template.go
  internal/mode/static/nginx/file/filefakes/fake_osfile_manager.go
  internal/mode/static/nginx/file/folders.go
  internal/mode/static/nginx/file/folders_test.go
  internal/mode/static/nginx/file/manager.go
  internal/mode/static/nginx/file/os_filemanager.go
  internal/mode/static/telemetry/collector.go
Labels: bug, helm-chart

#2877 Add NGINX configuration for UpstreamSettingsPolicy
  apis/v1alpha1/policy_methods.go
  config/crd/bases/gateway.nginx.org_upstreamsettingspolicies.yaml
  internal/mode/static/nginx/config/generator.go
  internal/mode/static/nginx/config/http/config.go
  internal/mode/static/nginx/config/policies/upstreamsettings/processor.go
  internal/mode/static/nginx/config/policies/upstreamsettings/processor_test.go
  internal/mode/static/nginx/config/servers.go
  internal/mode/static/nginx/config/servers_test.go
  internal/mode/static/nginx/config/upstreams.go
  internal/mode/static/nginx/config/upstreams_template.go
  internal/mode/static/nginx/config/upstreams_test.go
  internal/mode/static/state/dataplane/types.go
Labels: enhancement

#2897 Use state file for updating N+ upstreams
  internal/mode/static/handler.go
  internal/mode/static/handler_test.go
  internal/mode/static/manager.go
  internal/mode/static/nginx/config/convert.go
  internal/mode/static/nginx/config/convert_test.go
  internal/mode/static/nginx/config/http/config.go
  internal/mode/static/nginx/config/stream/config.go
  internal/mode/static/nginx/config/upstreams.go
  internal/mode/static/nginx/config/upstreams_template.go
  internal/mode/static/nginx/config/upstreams_test.go
  internal/mode/static/nginx/runtime/manager.go
  internal/mode/static/nginx/runtime/manager_test.go
  internal/mode/static/nginx/runtime/runtimefakes/fake_manager.go
  internal/mode/static/nginx/runtime/runtimefakes/fake_nginx_plus_client.go
Labels: bug, enhancement, release-notes

#2902 Move check for plus usage endpoint to test-with-plus target
  tests/Makefile
Labels: chore, tests

#2905 Cherry-pick N+ deployment context fix to release-1.5
  charts/nginx-gateway-fabric/templates/configmap.yaml
  charts/nginx-gateway-fabric/templates/deployment.yaml
  cmd/gateway/commands.go
  cmd/gateway/commands_test.go
  cmd/gateway/initialize.go
  cmd/gateway/initialize_test.go
  cmd/gateway/main.go
  cmd/gateway/validation.go
  cmd/gateway/validation_test.go
  config/tests/static-deployment.yaml
  deploy/aws-nlb/deploy.yaml
  deploy/azure/deploy.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
  internal/mode/static/config/config.go
  internal/mode/static/handler.go
  internal/mode/static/handler_test.go
  internal/mode/static/licensing/collector.go
  internal/mode/static/licensing/collector_suite_test.go
  internal/mode/static/licensing/collector_test.go
  internal/mode/static/licensing/licensingfakes/fake_collector.go
  internal/mode/static/manager.go
  internal/mode/static/nginx/config/configfakes/fake_generator.go
  internal/mode/static/nginx/config/generator.go
  internal/mode/static/nginx/config/main_config.go
  internal/mode/static/nginx/config/main_config_template.go
  internal/mode/static/nginx/file/filefakes/fake_osfile_manager.go
  internal/mode/static/nginx/file/folders.go
  internal/mode/static/nginx/file/folders_test.go
  internal/mode/static/nginx/file/manager.go
  internal/mode/static/nginx/file/os_filemanager.go
  internal/mode/static/telemetry/collector.go
Labels: bug, helm-chart

#2904 Move check for plus usage endpoint to correct spot
  tests/Makefile
Labels: chore, tests

#2907 Use staging endpoint for N+ reporting in pipeline (#2885)
  .github/workflows/conformance.yml
  .github/workflows/functional.yml
  .github/workflows/helm.yml
  .github/workflows/nfr.yml
  Makefile
  docs/developer/quickstart.md
  tests/Makefile
  tests/framework/ngf.go
  tests/suite/graceful_recovery_test.go
  tests/suite/system_suite_test.go
Labels: bug, documentation, tests

#2889 Fix search and replace for imagePullPolicy
  .github/workflows/release-pr.yml
Labels: chore

#2909 Fix search and replace for imagePullPolicy (#2889)
  .github/workflows/release-pr.yml
Labels: chore

#2887 Watch UpstreamSettingsPolicies and translate into dataplane configuration
  charts/nginx-gateway-fabric/templates/clusterrole.yaml
  config/crd/kustomization.yaml
  deploy/aws-nlb/deploy.yaml
  deploy/azure/deploy.yaml
  deploy/crds.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
  examples/upstream-settings-policy/cafe-routes.yaml
  examples/upstream-settings-policy/cafe.yaml
  examples/upstream-settings-policy/gateway.yaml
  examples/upstream-settings-policy/upstream-settings-policy.yaml
  internal/framework/kinds/kinds.go
  internal/mode/static/manager.go
  internal/mode/static/manager_test.go
  internal/mode/static/nginx/config/policies/clientsettings/validator.go
  internal/mode/static/nginx/config/policies/observability/validator.go
  internal/mode/static/nginx/config/policies/policy.go
  internal/mode/static/nginx/config/policies/upstreamsettings/validator.go
  internal/mode/static/nginx/config/policies/upstreamsettings/validator_test.go
  internal/mode/static/nginx/config/upstreams_template.go
  internal/mode/static/state/change_processor.go
  internal/mode/static/state/change_processor_test.go
  internal/mode/static/state/dataplane/configuration.go
  internal/mode/static/state/dataplane/configuration_test.go
  internal/mode/static/state/dataplane/types.go
  internal/mode/static/state/graph/graph.go
  internal/mode/static/state/graph/graph_test.go
  internal/mode/static/state/graph/policies.go
  internal/mode/static/state/graph/policies_test.go
  internal/mode/static/state/graph/service.go
  internal/mode/static/state/graph/service_test.go
  internal/mode/static/telemetry/collector_test.go
Labels: enhancement, helm-chart

#2903 Omit empty deployment context fields
  cmd/gateway/initialize_test.go
  internal/mode/static/handler_test.go
  internal/mode/static/licensing/collector.go
  internal/mode/static/licensing/collector_test.go
  internal/mode/static/nginx/config/generator_test.go
  internal/mode/static/state/dataplane/types.go
Labels: bug

#2910 Omit empty deployment context fields (#2903)
  cmd/gateway/initialize_test.go
  internal/mode/static/handler_test.go
  internal/mode/static/licensing/collector.go
  internal/mode/static/licensing/collector_test.go
  internal/mode/static/nginx/config/generator_test.go
  internal/mode/static/state/dataplane/types.go
Labels: bug

#2908 Move check for plus usage endpoint to test-with-plus target (#2902) (#2904)
  tests/Makefile
Labels: chore, tests

#2916 Add PLUS_USAGE_ENDPOINT to NFR tests
  .github/workflows/nfr.yml
Labels: chore

#2917 Update to 1.5.1 in missed files
  Makefile
  README.md
  site/content/get-started.md
  tests/conformance/provisioner/provisioner.yaml
Labels: documentation, tests

#2918 Update main with 1.5.1
  CHANGELOG.md
  README.md
  charts/nginx-gateway-fabric/Chart.yaml
  charts/nginx-gateway-fabric/README.md
  site/content/get-started.md
  site/content/how-to/monitoring/prometheus.md
  site/content/how-to/traffic-management/advanced-routing.md
  site/content/how-to/traffic-management/client-settings.md
  site/content/how-to/traffic-management/request-response-headers.md
  site/content/how-to/traffic-management/snippets.md
  site/content/how-to/upgrade-apps-without-downtime.md
  site/content/includes/installation/install-gateway-api-experimental-features.md
  site/content/includes/installation/install-gateway-api-resources.md
  site/content/includes/installation/uninstall-gateway-api-resources.md
  site/content/installation/building-the-images.md
  site/content/installation/installing-ngf/helm.md
  site/content/installation/installing-ngf/manifests.md
  site/content/installation/nginx-plus-jwt.md
  site/content/overview/gateway-architecture.md
Labels: documentation, helm-chart

#2919 Update version in docker pull
  site/content/how-to/monitoring/troubleshooting.md
  site/content/installation/nginx-plus-jwt.md
Labels: documentation

#2927 Add missing variable in NFR script
  .github/workflows/conformance.yml
  .github/workflows/functional.yml
  .github/workflows/nfr.yml
  tests/scripts/remote-scripts/run-nfr-tests.sh
Labels: chore, tests

#2934 Add patch version to site/go.mod
  site/go.mod
Labels: chore

#2922 Collect UpstreamSettingsPolicyCount in telemetry
  internal/mode/static/telemetry/collector.go
  internal/mode/static/telemetry/collector_test.go
  internal/mode/static/telemetry/data.avdl
  internal/mode/static/telemetry/data_test.go
  internal/mode/static/telemetry/ngfresourcecounts_attributes_generated.go
  site/content/overview/product-telemetry.md
  tests/suite/telemetry_test.go
Labels: documentation, enhancement, tests

#2932 Fix conformance profile upload
  .github/workflows/conformance.yml
Labels: chore

#2937 Fix duplicate ancestors on UpstreamSettingsPolicy status
  internal/mode/static/state/graph/policies.go
  internal/mode/static/state/graph/policies_test.go
  internal/mode/static/state/graph/policy_ancestor.go
  internal/mode/static/state/graph/policy_ancestor_test.go
Labels: bug
