Repository nginx/nginx-gateway-fabric, pull requests merged in 2025-06, with the labels that each got.

#3427 Skip full upgrade test suite
  tests/Makefile
  tests/suite/upgrade_test.go
Labels: chore, tests

#3429 Add 2.0 longevity results
  tests/results/longevity/2.0.0/oss-cpu.png
  tests/results/longevity/2.0.0/oss-memory.png
  tests/results/longevity/2.0.0/oss-ngf-memory.png
  tests/results/longevity/2.0.0/oss.md
  tests/results/longevity/2.0.0/plus-cpu.png
  tests/results/longevity/2.0.0/plus-memory.png
  tests/results/longevity/2.0.0/plus-ngf-memory.png
  tests/results/longevity/2.0.0/plus.md
Labels: documentation, tests

#3437 Cherry pick #3429 and #3431; longevity results and GKE annotation fix
  charts/nginx-gateway-fabric/values.yaml
  tests/results/longevity/2.0.0/oss-cpu.png
  tests/results/longevity/2.0.0/oss-memory.png
  tests/results/longevity/2.0.0/oss-ngf-memory.png
  tests/results/longevity/2.0.0/oss.md
  tests/results/longevity/2.0.0/plus-cpu.png
  tests/results/longevity/2.0.0/plus-memory.png
  tests/results/longevity/2.0.0/plus-ngf-memory.png
  tests/results/longevity/2.0.0/plus.md
  tests/suite/manifests/dp-perf/gateway.yaml
  tests/suite/manifests/longevity/gateway.yaml
  tests/suite/manifests/ngf-upgrade/gateway-updated.yaml
  tests/suite/manifests/ngf-upgrade/gateway.yaml
  tests/suite/manifests/reconfig/gateway.yaml
  tests/suite/manifests/scale/matches.yaml
  tests/suite/manifests/scale/upstreams.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-1.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-10.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-11.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-12.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-13.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-14.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-15.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-16.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-17.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-18.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-19.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-2.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-20.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-21.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-22.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-23.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-24.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-25.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-3.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-4.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-5.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-6.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-7.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-8.yaml
  tests/suite/manifests/scale/zero-downtime/gateway-9.yaml
Labels: tests

#3445 Update production documentation URLs for 2.0 release
  CONTRIBUTING.md
  README.md
  deploy/README.md
  design/control-data-plane-separation/design.md
  docs/developer/quickstart.md
  examples/advanced-routing/README.md
  examples/cafe-example/README.md
  examples/client-settings-policy/README.md
  examples/cross-namespace-routing/README.md
  examples/grpc-routing/README.md
  examples/http-request-header-filter/README.md
  examples/http-response-header-filter/README.md
  examples/https-termination/README.md
  examples/snippets-filter/README.md
  examples/traffic-splitting/README.md
  examples/upstream-settings-policy/README.md
Labels: documentation

#3450 Update to agent v3 release packages
  build/Dockerfile.nginx
  build/Dockerfile.nginxplus
  go.mod
  go.sum
Labels: dependencies, chore

#3469 Add missing note from CHANGELOG
  CHANGELOG.md
Labels: documentation, chore

#3475 Set proper IP family policy on NGINX LB Service
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
Labels: bug, release-notes

#3446 Fix functional tests pipeline failures
  tests/suite/graceful_recovery_test.go
Labels: tests

#3482 Re-enable upgrade NFR test
  tests/suite/upgrade_test.go
Labels: tests

#3490 Add agent version to CHANGELOG template
  .github/CHANGELOG_TEMPLATE.md
Labels: documentation

#3398 Add enhancement proposal for NAP WAF integration
  docs/proposals/nap-waf.md
Labels: documentation, enhancement-proposal

#3493 Feat: Add helm values for cert-generator Job pod placement
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/certs-job.yaml
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
Labels: documentation, helm-chart, community, release-notes

#3487 gives enough time for argocd to verify job has finished
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/certs-job.yaml
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  deploy/azure/deploy.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
Labels: documentation, helm-chart, community, release-notes

#3481 Deploy WAF containers when enabled in NGINXProxy
  Makefile
  apis/v1alpha2/nginxproxy_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  build/Dockerfile.nginxplus
  build/entrypoint.sh
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/nginxproxy.yaml
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  config/crd/bases/gateway.nginx.org_nginxproxies.yaml
  deploy/crds.yaml
  internal/controller/nginx/config/base_http_config.go
  internal/controller/nginx/config/base_http_config_template.go
  internal/controller/nginx/config/base_http_config_test.go
  internal/controller/nginx/config/main_config_template.go
  internal/controller/nginx/config/main_config_test.go
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
  internal/controller/state/dataplane/configuration.go
  internal/controller/state/dataplane/types.go
  internal/controller/state/graph/nginxproxy.go
  internal/controller/state/graph/nginxproxy_test.go
Labels: documentation, enhancement, helm-chart

#3495 Add API doc generation to release process
  docs/developer/release-process.md
Labels: documentation, chore

#3496 Add WAFPolicy CRD
  apis/v1alpha1/clientsettingspolicy_types.go
  apis/v1alpha1/nginxgateway_types.go
  apis/v1alpha1/observabilitypolicy_types.go
  apis/v1alpha1/policy_methods.go
  apis/v1alpha1/register.go
  apis/v1alpha1/snippetsfilter_types.go
  apis/v1alpha1/upstreamsettingspolicy_types.go
  apis/v1alpha1/wafpolicy_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha2/nginxproxy_types.go
  apis/v1alpha2/observabilitypolicy_types.go
  config/crd/bases/gateway.nginx.org_wafpolicies.yaml
Labels: enhancement

#3513 Fix index out of bounds error when building status
  internal/controller/status/prepare_requests.go
  internal/controller/status/prepare_requests_test.go
Labels: bug, release-notes

#3528 Add nginxGateway.name usage in case of its presence instead of nameOverride
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/_helpers.tpl
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  scripts/generate-manifests.sh
  tests/Makefile
Labels: documentation, tests, helm-chart

#3538 Generate all CRDs, update RBAC, fix Alpine tag
  apis/v1alpha1/wafpolicy_types.go
  build/Dockerfile.nginxplus
  charts/nginx-gateway-fabric/templates/clusterrole.yaml
  config/crd/bases/gateway.nginx.org_wafpolicies.yaml
  config/crd/kustomization.yaml
  deploy/azure/deploy.yaml
  deploy/crds.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
Labels: helm-chart

#3535 Apply PolicyAffected status for target refs
  internal/controller/state/conditions/conditions.go
  internal/controller/state/conditions/conditions_test.go
  internal/controller/state/graph/graph.go
  internal/controller/state/graph/graph_test.go
  internal/controller/state/graph/policies.go
  internal/controller/state/graph/policies_test.go
Labels: enhancement, release-notes

#3511 Add support for backendref service appProtocol
  internal/controller/manager.go
  internal/controller/state/conditions/conditions.go
  internal/controller/state/graph/backend_refs.go
  internal/controller/state/graph/backend_refs_test.go
  internal/controller/state/graph/route_common.go
  internal/controller/state/graph/route_common_test.go
  internal/controller/state/graph/tlsroute.go
  internal/controller/state/graph/tlsroute_test.go
  internal/framework/controller/predicate/service.go
  internal/framework/controller/predicate/service_test.go
  internal/framework/controller/register_test.go
  tests/Makefile
Labels: enhancement, tests, release-notes
