Repository nginx/nginx-gateway-fabric, pull requests merged in 2025-08, with the labels that each got.

#3690 Adjust logging when resolving endpoints
  internal/controller/state/dataplane/configuration.go
Labels: chore

#3673 Validate agent token for duplicate IP addresses
  internal/controller/nginx/agent/grpc/interceptor/interceptor.go
  internal/controller/nginx/agent/grpc/interceptor/interceptor_test.go
Labels: bug, release-notes

#3695 Add CEL validation test for `timeout` in ClientSettingsPolicy
  tests/cel/clientsettingspolicy_test.go
  tests/cel/common.go
Labels: tests

#3702 Add control/data plane HPA
  apis/v1alpha2/nginxproxy_types.go
  apis/v1alpha2/zz_generated.deepcopy.go
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/clusterrole.yaml
  charts/nginx-gateway-fabric/templates/hpa.yaml
  charts/nginx-gateway-fabric/templates/nginxproxy.yaml
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  config/crd/bases/gateway.nginx.org_nginxproxies.yaml
  deploy/azure/deploy.yaml
  deploy/crds.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
  internal/controller/manager.go
  internal/controller/provisioner/eventloop.go
  internal/controller/provisioner/handler.go
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
  internal/controller/provisioner/provisioner.go
  internal/controller/provisioner/provisioner_test.go
  internal/controller/provisioner/setter.go
  internal/controller/provisioner/store.go
  internal/controller/provisioner/store_test.go
Labels: documentation, enhancement, helm-chart, release-notes

#3709 Add OverlappingTLSConfig condition
  internal/controller/state/conditions/conditions.go
  internal/controller/state/graph/gateway_listener.go
  internal/controller/state/graph/gateway_listener_test.go
  internal/controller/state/graph/gateway_test.go
  internal/controller/status/prepare_requests.go
Labels: enhancement, release-notes

#3711 Update remaining server side apply for crds
  tests/framework/ngf.go
Labels: chore, tests

#3723 (Cherry-pick) Fix NFR tests (#3722)
  tests/framework/ngf.go
  tests/framework/timeout.go
Labels: tests

#3701 Add CEL validation tests for NginxProxy
  tests/Makefile
  tests/cel/clientsettingspolicy_test.go
  tests/cel/common.go
  tests/cel/nginxproxy_test.go
Labels: tests

#3729 Cherry-pick: Update NGINX Plus version to R35
  README.md
  build/Dockerfile.nginxplus
Labels: documentation, chore

#3717 Add nginx one console connection telemetry field
  internal/controller/manager.go
  internal/controller/telemetry/collector.go
  internal/controller/telemetry/collector_test.go
  internal/controller/telemetry/data.avdl
  internal/controller/telemetry/data_attributes_generated.go
  internal/controller/telemetry/data_test.go
  tests/suite/telemetry_test.go
Labels: enhancement, tests

#3731 Cherry pick: Add nginx one console telemetry field
  internal/controller/manager.go
  internal/controller/telemetry/collector.go
  internal/controller/telemetry/collector_test.go
  internal/controller/telemetry/data.avdl
  internal/controller/telemetry/data_attributes_generated.go
  internal/controller/telemetry/data_test.go
  tests/suite/telemetry_test.go
Labels: enhancement, tests

#3730 Fix events block crash
  internal/controller/nginx/conf/nginx-plus.conf
  internal/controller/nginx/conf/nginx.conf
  internal/controller/nginx/config/generator.go
  internal/controller/nginx/config/generator_test.go
  internal/controller/nginx/config/main_config.go
  internal/controller/nginx/config/main_config_template.go
  internal/controller/nginx/config/main_config_test.go
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
  internal/controller/provisioner/templates.go
Labels: bug

#3734 Release 2.1.0
  CHANGELOG.md
  Makefile
  README.md
  charts/nginx-gateway-fabric/Chart.yaml
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  deploy/azure/deploy.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
Labels: documentation, helm-chart

#3741 Release 2.1.0 docs
  CHANGELOG.md
  README.md
  charts/nginx-gateway-fabric/Chart.yaml
  charts/nginx-gateway-fabric/README.md
Labels: documentation, chore, helm-chart

#3698 Fix policy attachment when ancestors slice is full
  internal/controller/state/change_processor.go
  internal/controller/state/conditions/conditions.go
  internal/controller/state/dataplane/configuration.go
  internal/controller/state/dataplane/configuration_test.go
  internal/controller/state/graph/backend_tls_policy.go
  internal/controller/state/graph/backend_tls_policy_test.go
  internal/controller/state/graph/graph.go
  internal/controller/state/graph/graph_test.go
  internal/controller/state/graph/multiple_gateways_test.go
  internal/controller/state/graph/policies.go
  internal/controller/state/graph/policies_test.go
  internal/controller/state/graph/policy_ancestor.go
  internal/controller/state/graph/policy_ancestor_test.go
  internal/framework/kinds/kinds.go
Labels: bug

#3754 fix: remove patch label/ annotation cross contamination
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
Labels: bug, release-notes

#3766 fix: remove patch label/ annotation cross contamination (#3754)
  internal/controller/provisioner/objects.go
  internal/controller/provisioner/objects_test.go
Labels: bug, release-notes

#3751 Fix SnippetsFilter Functional test
  tests/framework/timeout.go
  tests/suite/manifests/snippets-filter/valid-sf.yaml
  tests/suite/snippets_filter_test.go
Labels: bug, tests

#3788 Update READMEs
  README.md
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/README.md.gotmpl
Labels: documentation, helm-chart

#3789 Provisional: Proposal for Inference Extension
  design/archive/control-data-plane-separation/connect-response.png
  design/archive/control-data-plane-separation/connect.png
  design/archive/control-data-plane-separation/deployment-architecture.png
  design/archive/control-data-plane-separation/design.md
  design/archive/control-data-plane-separation/download-config.png
  docs/proposals/gateway-inference-extension.md
Labels: documentation

#3799 Prevent policy `includes` duplication in advanced routing configuration
  internal/controller/state/dataplane/configuration.go
  internal/controller/state/dataplane/configuration_test.go
Labels: bug, release-notes
