Repository nginx/nginx-gateway-fabric, pull requests merged in 2025-09, with the labels that each got.

#3820 Adjust nginx agent backoff settings and revert request timeout
  internal/controller/provisioner/templates.go
  tests/framework/timeout.go
Labels: bug, tests

#3828 Adjust nginx agent backoff settings (#3820)
  internal/controller/provisioner/templates.go
Labels: bug

#3778 Add support for Port in ParentReference
  internal/controller/state/graph/policies.go
  internal/controller/state/graph/route_common.go
  internal/controller/state/graph/route_common_test.go
  tests/Makefile
Labels: enhancement, tests

#3834 Release 2.1.1 docs (#3833)
  CHANGELOG.md
  README.md
  charts/nginx-gateway-fabric/Chart.yaml
  charts/nginx-gateway-fabric/README.md
Labels: documentation, helm-chart

#3854 Fix GOPROXY for forks
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/functional.yml
  .github/workflows/lint.yml
  .github/workflows/renovate-build.yml
Labels: chore

#3827 Fix some of the NFR tests to reduce error logs and pipeline failures
  Makefile
  tests/Makefile
  tests/framework/generate_manifests.go
  tests/framework/results.go
  tests/framework/timeout.go
  tests/suite/manifests/scale/httproute.yaml
  tests/suite/manifests/scale/upstreams.yaml
  tests/suite/scale_test.go
Labels: tests

#3894 Watch InferencePools and configure nginx
  Makefile
  charts/nginx-gateway-fabric/README.md
  charts/nginx-gateway-fabric/templates/clusterrole.yaml
  charts/nginx-gateway-fabric/templates/deployment.yaml
  charts/nginx-gateway-fabric/values.schema.json
  charts/nginx-gateway-fabric/values.yaml
  cmd/gateway/commands.go
  config/crd/inference-extension/kustomization.yaml
  deploy/inference-nginx-plus/deploy.yaml
  deploy/inference/deploy.yaml
  examples/helm/inference-nginx-plus/values.yaml
  examples/helm/inference/values.yaml
  go.mod
  go.sum
  internal/controller/config/config.go
  internal/controller/handler.go
  internal/controller/handler_test.go
  internal/controller/manager.go
  internal/controller/manager_test.go
  internal/controller/nginx/modules/src/epp.js
  internal/controller/state/change_processor.go
  internal/controller/state/change_processor_test.go
  internal/controller/state/graph/backend_refs.go
  internal/controller/state/graph/backend_refs_test.go
  internal/controller/state/graph/graph.go
  internal/controller/state/graph/graph_test.go
  internal/controller/state/graph/grpcroute_test.go
  internal/controller/state/graph/httproute.go
  internal/controller/state/graph/httproute_test.go
  internal/controller/state/graph/inferencepools.go
  internal/controller/state/graph/inferencepools_test.go
  internal/controller/state/graph/reference_grant.go
  internal/controller/state/graph/reference_grant_test.go
  internal/controller/state/graph/route_common.go
  internal/controller/state/graph/service.go
  internal/framework/controller/resource.go
  internal/framework/kinds/kinds.go
  tests/go.mod
  tests/go.sum
Labels: documentation, enhancement, dependencies, helm-chart

#3905 Improve connection reset handling during ServiceAccountToken rotation
  internal/controller/nginx/agent/agent_test.go
  internal/controller/nginx/agent/command.go
  internal/controller/nginx/agent/command_test.go
  internal/controller/nginx/agent/deployment.go
  internal/controller/nginx/agent/deployment_test.go
  internal/controller/nginx/agent/file.go
Labels: bug, release-notes

#3932 Improve connection reset handling during ServiceAccountToken rotation…
  internal/controller/nginx/agent/agent_test.go
  internal/controller/nginx/agent/command.go
  internal/controller/nginx/agent/command_test.go
  internal/controller/nginx/agent/deployment.go
  internal/controller/nginx/agent/deployment_test.go
  internal/controller/nginx/agent/file.go
Labels: bug, release-notes

#3936 Remove false condition on Routes when nginx reload fails
  internal/controller/handler.go
  internal/controller/state/conditions/conditions.go
  internal/controller/status/prepare_requests.go
  internal/controller/status/prepare_requests_test.go
  tests/suite/snippets_filter_test.go
Labels: bug, tests, release-notes

#3937 Revert agent reload backoff settings
  internal/controller/provisioner/templates.go
Labels: chore

#3942 Query EPP and proxy AI traffic
  cmd/gateway/endpoint_picker.go
  cmd/gateway/endpoint_picker_test.go
  deploy/inference-nginx-plus/deploy.yaml
  internal/controller/nginx/config/http/config.go
  internal/controller/nginx/config/maps.go
  internal/controller/nginx/config/maps_test.go
  internal/controller/nginx/config/servers.go
  internal/controller/nginx/config/servers_template.go
  internal/controller/nginx/config/servers_test.go
  internal/controller/nginx/modules/src/epp.js
  internal/controller/nginx/modules/test/epp.test.js
  internal/controller/state/dataplane/configuration.go
  internal/controller/state/dataplane/configuration_test.go
  internal/controller/state/dataplane/types.go
  internal/controller/state/graph/backend_refs.go
  internal/controller/state/graph/backend_refs_test.go
  internal/controller/state/graph/graph_test.go
  internal/controller/state/graph/httproute.go
  internal/controller/state/graph/httproute_test.go
  internal/controller/state/graph/route_common.go
  internal/framework/types/types.go
Labels: enhancement

#3952 Move certs job service account token (#3951)
  charts/nginx-gateway-fabric/templates/certs-job.yaml
  deploy/azure/deploy.yaml
  deploy/default/deploy.yaml
  deploy/experimental-nginx-plus/deploy.yaml
  deploy/experimental/deploy.yaml
  deploy/nginx-plus/deploy.yaml
  deploy/nodeport/deploy.yaml
  deploy/openshift/deploy.yaml
  deploy/snippets-filters-nginx-plus/deploy.yaml
  deploy/snippets-filters/deploy.yaml
Labels: bug, helm-chart

#3931 Add IPv6 testing script for use in release process
  Makefile
  docs/developer/release-process.md
  tests/Makefile
  tests/ipv6/config/kind-ipv6-only.yaml
  tests/ipv6/manifests/gateway.yaml
  tests/ipv6/manifests/ipv6-test-app.yaml
  tests/ipv6/manifests/ipv6-test-client.yaml
  tests/ipv6/run-ipv6-test.sh
  tests/suite/manifests/snippets-filter/invalid-duplicate-sf.yaml
Labels: documentation, tests

#3965 Update docs for Release 2.1.2
  CHANGELOG.md
  README.md
  charts/nginx-gateway-fabric/Chart.yaml
  charts/nginx-gateway-fabric/README.md
Labels: documentation, chore, helm-chart
